extends ./layout/index

block contenido 
    .container.mx-auto.px-10.py-10
        form(action=`/editar-puesto/${idPuesto}` method="POST")
            .grid.gap-6.mb-6(class="md:grid-cols-2")
                div 
                    label(for="nombre" class="block my-2 text-sm font-medium text-gray-900 dark:text-white") Nombre 
                    input(type="text" id="nombre" name="nombre" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value=puesto.nombre)
            if error 
                .p-4.mb-4.text-sm.text-red-700.bg-red-100.rounded-lg(class='dark:bg-red-200 dark:text-red-800', role='alert')
                    span.font-medium Todos los campos son obligatorios
            input.text-white.bg-blue-700.font-medium.rounded-lg.text-sm.px-5.mr-2.mb-2(type='submit', class='hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800' value="Agregar Puesto")
            