nav.bg-white.border-gray-200.px-2.rounded(class='sm:px-4 py-2.5 dark:bg-gray-900')
  .container.flex.flex-wrap.items-center.justify-between.mx-auto
    a.flex.items-center(href='/')
      span.self-center.text-xl.font-semibold.whitespace-nowrap(class='dark:text-white') Coppel
    #navbar-default.hidden.w-full(class='md:block md:w-auto')
      ul.flex.flex-col.p-4.mt-4.border.border-gray-100.rounded-lg.bg-gray-50(class='md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700')
        li
          a.block.py-2.pl-3.pr-4.text-gray-700.rounded(href='/puestos' class='hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent') Agregar Puestos
        li
          a.block.py-2.pl-3.pr-4.text-gray-700.rounded(href='/empleados' class='hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent') Agregar Empleados

